<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../Public/Css/style.css">
    </head>
    <body>
        <div class="tarefas">
            <h2>Lista de Tarefas</h2>
            <form method="post">
                <input type="text" placeholder="Digite uma Tarefa" id="tarefa" name="tarefa">
                <input type="submit" name="acao" value="Add">
            </form>
            <div>
                <% for(let i =0; i < tarefasList.length; i++) { %>
                    <p><%= tarefasList[i]%> <a href="/deletar/<%= i %>">X</a></p>
                <% } %>
            </div>
        </div>
    </body> 
</html>